input {
  margin: 15px; }

.gold-color {
  transition: 1s;
  color: #C5B358; }

.nl-ti-example {
  color: #8B9389 !important; }

#checkout:hover, #checkout:focus {
  transition: 1s;
  color: #C5B358; }

#checkout {
  color: #D3D3CF;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none; }

#slogan {
  text-align: center;
  font-size: 60px; }

#year {
  color: #8B9389; }

#look {
  color: #810081; }

#nl-form {
  margin: 0 auto;
  text-align: center; }

#gold {
  z-index: 0;
  position: fixed; }

.center {
  margin: 0 auto; }

#react, #rails, #vim, #pg, #d3 {
  margin: 30px;
  height: 150px;
  z-index: 5; }

#ang, #mongo, #mithril, #node {
  margin: 30px;
  width: 350px;
  z-index: 5; }

#logo-div {
  width: 900px;
  margin-top: 30px; }

.hexa {
  margin: 0 auto;
  -webkit-filter: drop-shadow(30px 30px 23px rgba(0, 0, 0, 0.3));
  -moz-filter: drop-shadow(30px 30px 23px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(30px 30px 23px rgba(0, 0, 0, 0.3)); }

#prev {
  float: left; }

#next {
  float: right; }

#hexa-div {
  margin-top: 80px; }

#btn-div {
  margin: 0 auto;
  margin-top: -13%;
  width: 900px;
  background-color: green;
  z-index: 5; }

img {
  transition: 1s; }

body {
  font-family: 'Roboto', sans-serif;
  color: #593358;
  position: fixed;
  overflow-y: scroll;
  overflow-y: hidden;
  width: 100%; }

#title {
  color: #593358;
  font-size: 50px; }

#blurb {
  color: #8B9389 !important;
  margin-top: -30px; }

#tech {
  font-size: 50px;
  color: #8B9389 !important;
  text-align: center; }

#logo {
  margin-top: 50px;
  margin-left: 50px; }

.btn {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 25px 80px;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }

.btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }

/* Pseudo elements for icons */
.btn:before,
.icon-heart:after,
.icon-star:after,
.icon-plus:after,
.icon-file:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  -webkit-font-smoothing: antialiased; }

.btn-2 {
  background: #C5B358;
  color: #D3D3CF;
  box-shadow: 0 6px #6e6226;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none; }

/* Button 2j */
.btn-2j {
  border-radius: 50%;
  width: 90px;
  height: 90px;
  padding: 0; }

.btn-2j:hover {
  box-shadow: 0 8px #6e6226;
  top: -2px; }

.btn-2j:active {
  box-shadow: 0 0 #6e6226;
  top: 6px; }

.float-center {
  float: center; }

#form {
  padding: 20px;
  width: 250px;
  height: 250px; }

.donut-text {
  color: white; }

#plug {
  color: white;
  font-weight: bold;
  position: absolute;
  margin-left: 20px;
  bottom: 0; }

#gradient {
  background: -webkit-linear-gradient(lightslategray, transparent);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(lightslategray, transparent);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(lightslategray, transparent);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(lightslategray, transparent);
  /* Standard syntax */ }

#blurb {
  font-weight: bold;
  font-size: 25px;
  color: white; }

svg {
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  display: block; }

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px; }

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center; }

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0; }

/*# sourceMappingURL=styles.css.map */
